.no-style-link {
    text-decoration: none;
    color: inherit;
}

.no-style-link:hover,
.no-style-link:focus {
    text-decoration: none;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;      
    position: relative; /* Ajustement pour la propriété position absolue de l'image */
}

body::before {
    content: "";
    background-image: url('../assets/images/allthink.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    position: absolute; /* Position absolue par rapport au corps */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* L'image est placée derrière le contenu */
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

main {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: calc(100vh - 60px); /* Supposons que votre en-tête ait une hauteur de 60px. Ajustez selon votre besoin. */
    position: relative; /* Ajouté pour la position du bouton Retour en haut */
    /*margin-top: calc(100vh);*/
}

header {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: -90px; /* La hauteur de votre header */
    z-index: 100;
}

header nav ul {
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
}

header nav ul li a:hover {
    border: 1px solid #555; /* Ajoute une bordure blanche autour du bouton */
    padding: 5px 10px; /* Espacement intérieur pour donner de l'espace autour du texte */
    border-radius: 4px; /* Adoucit les coins de la bordure */
    transition: border 0.3s ease; /* Effet de transition pour rendre l'apparition de la bordure plus douce */
}

.header nav ul li a.active {
    font-weight: bold;
}

#menuToggle {
    display: none;
}

.hamburger, .cross {
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.hamburger:hover, .cross:hover {
    opacity: 0.7; 
    transition: opacity 0.3s ease;
}

.cross {
    display: none;
}

.dropdown-menu {
    display: none;
    background-color: #f5f5f5;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 200px;
    z-index: 150;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu ul li a:hover {
    background-color: #dbdada;
}

#menuToggle:checked ~ .dropdown-menu {
    display: block;
}

#menuToggle:checked ~ .hamburger {
    display: none;
}

#menuToggle:checked ~ .cross {
    display: inline-block;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav ul {
    display: inline-block;
    margin: 0 auto;
    z-index: 160;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    .hamburger {
        display: inline-block;
    }
}

footer {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.social-icons {
    display: inline-block;
    margin-left: 20px;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-decoration: none; 
}

.github {
    background-image: url('../assets/images/github.png');
}

.linkedin {
    background-image: url('../assets/images/linkedin32.png');
}


#btnRetourHaut {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../assets/images/up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-decoration: none; 
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 5;
}
